form {
    font-family: 'Kosugi Maru', sans-serif;
}
h1{
    font-family: 'Kosugi', sans-serif;
    
}
h5{
    font-family: 'Kosugi', sans-serif;
    
}
.btn-primary {
    color: #e5222a;
    background-color: white;
    border-color: #e5222a;
}

.container {
    margin-top: 30px;
}













a.forgottonPass:link {
    color: white;
}

/* visited link */

a.forgottonPass:visited {
    color: white;
}

/* mouse over link */

a.forgottonPass:hover {
    color: white;
}
