#Description{
    height:200px;
}
#CreateProj{
    margin-top: 30px;
    background-color: #e5222a;
    color: white;
    box-shadow:2px 2px 5px #80755C;
}
#CProjectTitle{
    text-align: center;
    font: bold;
}