form {
    font-family: 'Kosugi Maru', sans-serif;
}
h1{
    font-family: 'Kosugi', sans-serif;
}
:disabled {
    background-color: #08415c;
}
.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #F5F5F5;
    border-color: #e5222a;
}
.btn-primary:hover{
    background-color: #e5222a;
    border-color: #08415c;
    color: #F5F5F5;
}
#LandingJum{
    text-align: center;
    margin-top: 30px;
    background-color: #08415c;
    color: #F5F5F5;
    box-shadow:2px 2px 5px #80755C;
}
a.forgottonPass:link {
    color: #F5F5F5;
}

/* visited link */

a.forgottonPass:visited {
    color: #F5F5F5;
}

/* mouse over link */

a.forgottonPass:hover {
    color: #F5F5F5;
}
