.footer {
  min-height: 100px;
  background: #e5222a;
  position: relative;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: #e5222a;
  color: white;
}
