nav.navbar.navbar-default {
  margin-bottom: 0;
  background-color: #F5F5F5;
}

nav {
  background-color: #e5222a;
  color: #F5F5F5;
  text-align: center;
  font-family: 'Kosugi', sans-serif;
}

.navbarRow{
  flex-direction: row;
}

.nav-item {
  padding-right: 5px;
  padding-left: 5px;
}


#logo{
  height:50px;
  width:50px;
}

a:link {
  color: #F5F5F5;
}
/* visited link */
a:visited {
  color: #F5F5F5;
}
/* mouse over link */
a:hover {
  color: #f9dc5c;
}
