nav.navbar.navbar-default {
  margin-bottom: 0;
  background-color: white;
}

nav {
  background-color: #e5222a;
  color: white;
  text-align: center;
}

a:link {
  color: white;
}
/* visited link */
a:visited {
  color: white;
}
/* mouse over link */
a:hover {
  color: #fff100;
}
